[Unit]
Description=Drain k3s node on shutdown
DefaultDependencies=false
Before=k3s-killall.service shutdown.target
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/bin/bash -c "/usr/local/bin/k3s-drain.sh"
TimeoutStartSec=300
RemainAfterExit=yes

[Install]
WantedBy=shutdown.target