[Unit]
Description=Kill containerd-shims on shutdown
DefaultDependencies=false
After=k3s-drain.service
Before=shutdown.target umount.target

[Service]
Type=oneshot
ExecStart=/bin/bash -c "/usr/local/bin/k3s-killall.sh"

[Install]
WantedBy=shutdown.target