[Unit]
Description=Drain the node before shutdown
Requires=k3s.service network.target
After=network.target k3s.service
Before=shutdown.target
DefaultDependencies=false

[Service]
Type=oneshot
RemainAfterExit=true
KillMode=None
ExecStart=/bin/true
ExecStop=/usr/local/bin/k3s-drain.sh
TimeoutStopSec=300

[Install]
WantedBy=multi-user.target